<!DOCTYPE HTML>
<html lang = "en">
  <body>
    <h1>Choose a Book</h1>
    <form>
       <fieldset>
          <legend>Selecting book</legend>
          <p>
             <label>Select list </label>
             <select size = '5'>
               <option value = "1">one</option>
               <option value = "2">two</option>
               <option value = "3">three</option>
               <option value = "4">four</option>
             </select>
          </p>
       </fieldset>
    </form>
  </body>
</html>